{% extends 'librosBD/base.html' %}

{% block content %}
	<div class="book">
		<h1>{{ author }}</h1>
	</div>
	{% for book in books %}
		<div class="book">
			<h1><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></h1>
			<div class="date">
				{% if book.start_reading_date %}
					<p>Empezado: {{ book.start_reading_date }}</p>
					{% if book.end_reading_date %}
						<p>Terminado: {{ book.end_reading_date }}</p>
					{% else %}
						<p>No he terminado de leerlo</p>
					{% endif %}
				{% else %}
					<p>No lo he empezado a leer todavía</p>
				{% endif %}
				<a class="btn btn-default" href="{% url 'book_edit' pk=book.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>	
				<a href="{% url 'book_remove' pk=book.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>	
			</div>
		</div>
	{% endfor %}
{% endblock %}
