<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>BBDD Libros</title>
</head>
<body>

	<div>
		<h1><a href="">Libros BD</a></h1>
	</div>

	{% for book in books %}
		<div>
			<h1><a href="">{{ book.title }}</a></h1>
			<h1><a href="">{{ book.author }}</a></h1>
			{% if book.start_reading_date %}
				<p>Empezado: {{ book.start_reading_date }}</p>
				{% if book.end_reading_date %}
					<p>Terminado: {{ book.end_reading_date }}</p>
				{% else %}
					<p>No he terminado de leerlo</p>
				{% endif %}
			{% else %}
				<p>No lo he empezado a leer todavía</p>
			{% endif %}
		</div>
	{% endfor %}
	
</body>
</html>